* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #b4b7e6; 
  --decore-color: #747bd5;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(255, 255, 255);
}

p {

  font-size: 15px;
  text-align: right;
}

input {
  padding: 1em;
}

.log-in {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.log-in form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  
  border-radius: 20px;
background-color: var(--main-color);
min-width: 500px;
min-height: 500px;
  gap: 1em;
  
  background-color: #b4b7e6;
  
}

.input-container {
  display: flex;
  flex-direction: column;
  
}

header {
  padding: 2em;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #f2f2f2;
}

.logo {
  color: var(--decore-color);
  text-align: center;
  margin: 0 auto;
}

.user-info {
  justify-content: flex-end;
}

button:not(.quantity-btn) {
  color: rgb(19, 18, 18);
  background-color:  rgb(255, 255, 255);
  padding: 0.2em 0.8em;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  border: none;
  border-radius: 12px 12px 12px 12px;
  box-shadow: 1px 1px 1px 1px #9c9c9c;
}

.searchBooks {
  margin-right: 2em;
  min-width: 300px;
}

.quantity-btn {
 font-size: 20px;
 height: 25px;
 width: 25px;
 margin: 0 0.2em
}


.quantity-td {
  display: flex;
  justify-content: space-around;
 }

.flex-container {
  display: flex;
  justify-content: space-between;
}

 .action-td {
  text-align: center;
 }

 .action-td button{
  margin: 0 0.2em;
 }
 


button[disabled] {
  background-color: #bdbdbd;
}


.container {
  margin: 2em 1em;
}

table {
  /* margin-left: auto;
  margin-right: auto;
  width: 80%; */
  width: 100%;
}

.tab-buttons {
  float: right;
}

.tab-buttons button {
  border: none;
  margin: 0 !important;
  border-radius: 2px;
  padding: 1em;
}

.tab-buttons .active {
  background-color: var(--main-color);
}

td {
  background-color: var(--main-color);
  padding: 0.5em;
}
thead {
  background-color: var(--decore-color);
}

th {
  padding: 1em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.modal {
  display: none;
}

.modal-content {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.open {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
